.main {
  width: 100%;
  margin-top: 20px;
}

.videos_section {
  margin-top: 40px;
}

.videos {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.previewGrid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
}

.previewGrid img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  /* position: relative; */
}
.play_button {
  width: 100%;
  height: 100%;
  object-fit: contain !important;
}

.play_button_area {
  z-index: 1;
  cursor: pointer;
  width: 40px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.previewGrid > div:nth-child(1),
.previewGrid > div:nth-child(2),
.previewGrid > div:nth-child(3) {
  grid-column: span 4;
}

.previewGrid > div:nth-child(4),
.previewGrid > div:nth-child(5),
.previewGrid > div:nth-child(6),
.previewGrid > div:nth-child(7) {
  grid-column: span 3;
}

.video_item {
  position: relative;
}

/* Mobile */

@media screen and (max-width: 430px) {
  .movie_title {
    font-size: 2em;
  }
  .previewGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .previewGrid > div {
    grid-column: auto !important;
  }

  .previewGrid img {
    height: 160px;
  }

  .play_button_area {
    width: 31px;
    left: 20%;
  }
}
