.media {
  margin-top: 20px;
  display: flex;
  width: 100%;
}

.img {
  border-radius: 12px;
}

.left_img {
  position: relative;
  width: 270px;
  cursor: pointer;
}

.img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

/* overlay */
.left_img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.left_img:hover::after {
  opacity: 1;
}

.left_img {
  margin-right: 10px;
  flex-shrink: 0;
}

.right_video {
  flex: 1;
  display: flex;
}

.right_video iframe {
  width: 100% !important;
  height: 100%;
  border: none;
}

.detail_area {
  width: 60%;
  margin-top: 40px;
}

.writers {
  margin-top: 20px;
}

.writers_name {
  display: flex;
}

.position {
  margin-right: 15px;
  color: red;
}

.writers_name {
  border-top: 1px solid rgb(57, 57, 57);
  padding: 10px 0;
}

.name {
  display: flex;
}
/* 
.right_side_content{
  display: flex;
  justify-content: space-between;
} */

.right_content_name {
  font-size: 3em;
  line-height: 1.2;
}

.right_side_content {
  display: flex;
  align-items: center; 
  padding: 8px 0; 
}

.point {
  width: 200px; 
  flex-shrink: 0;
  color: #888888;
  font-weight: 500;
}

.right_side_detail {
  flex: 1; 
  text-align: left; 
  color: #ffffff;
}

.top{
  margin-top: 50px;
}

.right_area{
  margin-left: 50px;
}

/* Mobile */

@media screen and (max-width: 430px) {
  .media {
    flex-direction: column;
  }

  .detail_area {
    width: 100%;
  }

  .left_img {
    width: 100%;
    margin-bottom: 10px;
  }

  .point{
    width: 110px;
  }

  .right_area{
    margin-left: 0;
  }
}

.link{
  color: #f5c518;
}

/* TAB */

@media (min-width: 768px) and (max-width: 1024px) {
  .left_img {
    width: 195px;
  }

  .detail_area {
    width: 100%;
  }
}
